<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="text-center">Image Uploaded Successfully</p><br>
                {% if message %}
                <h1 class="text-center">{{ message }}</h1>
                {% endif %}
                <br>
                <div class="text-center">
                    <a href="{% url 'index' %}" class="btn btn-primary">Try Again</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
